{% load wagtailimages_tags %}

<div class="article container-fluid" >
   <div class="row">
      <div id="{{ bid }}" 
           style="background-color: black; padding-left: 10px;">
         <hr> {{ value.section }} <hr>
      </div>
      <div class="col-xs-2" style="height:200px; overflow:hidden;">
         {% image value.image original style="width:100%;" %}
      </div>
      <div class="col-xs-10" style="background-color: darkblue;">
         <h2>{{value.subject}}</h2>
         <p style="font-size: large;">{{value.paragraph}}</p>
      </div>
   </div>
</div>
