{% load wagtailimages_tags %}
<div class="row">
   <div class="col-xs-2" >
      <div id="{{ bid }}" 
           style="background-color: #ccc; padding: 10px;">
         <hr> {{ value.section }} <hr>
      </div>
   </div>
   <div class="col-xs-2" >
      {% image value.image original style="width:100%;" %}
   </div>
   <div class="col-xs-8" style="background-color: #ccc; padding: 10px;">
      <h2>{{value.subject}}</h2>
      <p style="font-size: large;">{{value.paragraph}}</p>
   </div>
</div>
