{% load wagtailimages_tags %}

<div id="{{ bid }}" class="event">
   <div style="margin: auto; width: 90%;">
      <div class="row"> 
         <div class="col text-center" style="color: black;">
            <h2 style="color: white; background-color: black;">
               Starting {{ value.start_date }}</h2>
         </div>
      </div>
   </div>

   <div style="margin: auto; width: 80%;">
      <div class="row"> 
         <div class="col text-center">
            <div style="background-color: #ccc;">
               <hr> {{ value.section }} <hr>
            </div>
         </div>
      </div>
      
      <div class="row"> 
         <div class="col" style="color: black;">
            {% image value.photo width-800 %}
         </div>
      </div>

      <div class="row"> 
         <div class="col text-center">
            <div style="background-color: #ccc;">
               <p class="event-desc"> {{value.description}} </p>
            </div>
         </div>
      </div>
   </div>

   <div style="margin: auto; width: 90%;">
      <div class="row"> 
         <div class="col text-center">
            <h2 style="color: white; background-color: black;">
               Ending {{ value.stop_date }}</h2>
         </div>
      </div>
   </div>
</div>
