{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_style %} 
<style>
   .ihome { 
      object-fit: cover;
      width: 100%;
      height: 350px; }
   div[class=image] { display: inline; }
</style>
{% endblock %}

{% block content %}
    <!-- Home Page Content -->
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="bluedropped mt-5">
             {{ page.title }}
          </h1>
        </div>
      </div>
      </br>
      
      <div class="row">
        <div class="col">
           {% image page.image max-800x600 class="img-fluid ihome" %}
        </div>
      </div>
      </br>

      <div class="blackdropped mt-3">
         {{ page.paragraph|richtext }}
      </div>
    </div>
{% endblock %}
