{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_style %} 
   .header { background-color: darkblue; text-align: center; }
   .img_center { display: block; margin-left: auto; margin-right: auto; }
   .img_inline { display: inline-block; }
   .block-paragraph { background-color: black; }
   .block-paragraph { margin-top: 15px; margin-bottom: 5px; font-size: large }
{% endblock %}

{% block content %}
   {% for block in page.body %}
        {% if block.block_type == 'heading' %}
            <h1 class="header">{{ block.value }}</h1>
        {% elif block.block_type == 'subheading'  %}
            <h3 class="header">{{ block.value }}</h3>
        {% elif block.block_type == 'banner'  %}
           {% image block.value fill-1800x300 class="img_center" %}
        {% else %}
            <section class="block-{{ block.block_type }}">
                {% include_block block %}
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
