{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extrastyle %} 
   .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
      grid-column-gap: 10px;
      background-color: gray; color: white;
      justify-items: center;
      border-radius: 5px;
      margin-top: 40px; padding: 1em;
   }
   .header { 
      grid-column: 1 / 4; 
      background-color: darkblue; 
      border-radius: 15px;
      width: 100%;
      text-align: center;
      margin: 5px;
   }
   .main { 
      grid-column: 1 / 2; grid-row: 2 / 5; 
      grid-column-gap: 10px;
      margin: 5px; padding: 5px;
      color: yellow; background-color: blue; 
      border-radius: 15px;
      object-fit: contain;
      text-align: center;
   }
   .notices { 
      background-color: black; color: red;
      border: 2px solid #ffa94d;
      border-radius: 15px;
      width: 100%;
      margin: auto;
      text-align: left;
   }
   .notices > ul { list-style: none; }
      
   .events { 
      grid-column: 2 / 2; grid-row: 2 / 5; 
      background-color: lightgray; color: black;
      border-radius: 15px;
      width: 100%;
      padding: 5px;
   }
   .events > ul { list-style: none; padding-left: 0px; }
   .events > ul > li { padding-bottom: 5px; padding-top: 5px; }
   .events > b > a { color: black; }
   .para { 
      background-color: lightgray; color: black;
      border-radius: 15px;
      padding: 8px;
      margin: 5px; 
      text-align: left;
   }
{% endblock %}
{% block content %}
<div class="container">
   <!--div class="header"> <h1> <u><b>{{ page.heading }} </b></u></h1> </div-->
  <div class="main"> {% image page.image max-850x600 %} <br>
     <b>{{ page.verse|richtext}}</b>
     <div class="notices">
         Notice: {{ page.notice|richtext }}
         <b>Recent Activity:</b>
         <ul>
         {% for repage in recent_pages %}
            <li> 
               <a href="{{repage.url}}">
                  {{ repage.title|truncatechars:25 }}</a> - 
               {{ repage.pub_date|date:'m-d' }} </li>
         {% endfor %}
         </ul>
     </div>
     <div class="para">
         <div class="block"> {{ page.paragraph|richtext }} </div>
     </div>
  </div>  
   <div class="events">
      <b>Upcoming Events:</b>
      {% if evtBlocks %}
         <ul>
         {% for eblock in evtBlocks %}
            <li> 
               <a href="{{ evtPage }}#{{eblock.id}}">
                  {{ eblock.value.section|truncatechars:25 }}</a> - 
               {{ eblock.value.start_date|date:'m-d' }}
            </li>
         {% endfor %}
         </ul>
      {% else %}
      <br> Stay tuned...<br>
      <br>
      {% endif %}
      <b><a href="/media/lessons/">Latest Lessons:</a></b>
      <ul> 
         {% for lesson in lessons %}
         <li> 
            {{lesson.album_name}} : </br>
            <a href="{{lesson.url}}">{{lesson.name}}</a> 
         </li>
         {% endfor %}
      </ul>
   </div>
</div>
{% endblock %}
