{% extends "pleromanna/pleroma_page.html" %}

{% block header %}
   {% include "includes/nav_menu.html" with menu_root_page=menu_root %}
{% endblock %}

{% block content %} 
   {% if latest %}	
      <div class="container-fluid">
         <div class="row">
            <div class="col text-center" style="color: white;">
               <h1 class="header mt-5">Latest Lessons from Pleroma Bible Church</h1>
            </div>
         </div>
         {% for vid in latest %}
         <div class="row">
            <div class="col-sm-10"> {{ vid|safe }} </div>
         </div>
         {% endfor %}
      </div>
   {% endif %}
   {{ block.super }}
{% endblock %}
