{% extends "base.html" %}
{% load wagtailcore_tags menu_tags %}
{% block style %} 
   {{ block.super }}
   <style>
      .navbar-nav > li { padding-left:30px; padding-right:30px; }
   </style>
{% endblock %}
{% block menu %} 
   <nav class="navbar navbar-expand-lg navbar--bold navbar-light bg-default 
               navbar--bb-1px navbar-toggleable-md">
    <div class="container navbar-container">
      <!-- Brand/Logo -->
      <a class="navbar-brand" href="/">Pleroma</a>
      <div class="d-inline-block">
        <!-- Navbar toggler  -->
        <button class="navbar-toggler hamburger hamburger-js" 
                type="button" data-toggle="collapse"
                data-target="#navbar_main" 
                aria-controls="navbarsExampleDefault" 
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
        </button>
      </div>
      <div class="collapse navbar-collapse align-items-center 
                  justify-content-end" id="navbar_main">
         {% main_menu %} 
      </div>
    </div>
   </nav>
{%endblock%}
{% block content %} 
   {{ block.super }}
   <div class="container-fluid">
      {% for bblock in page.body %}
         {% include_block bblock with bid=bblock.id %}
      {% endfor %}
   </div>
{% endblock %}
