{% extends "pages/richtextpage.html" %}
{% load blog_tags mezzanine_tags i18n staticfiles %}
<!-- This template is provided as a custom template for the homepage, for
when it is configured as an editable page in the navigation tree. Feel
free to modify it.  -->
{% block main %}
<div class="welcome-container">
	<div class="backdropped"> 
		<img src="{%static "img/pleromites.jpg"%}">
	</div>
		{{ block.super }} 
</div>
	<div>
		<div class="panel panel-default tree">
			{% blog_recent_posts 5 as recent_posts %}
			{% if recent_posts %}
			<h3>{% trans "Recent Posts" %}</h3>
				{% for recent_post in recent_posts %}
				<h4> 
					<a class="text-capitalize" 
						href="{{ recent_post.get_absolute_url }}">
						{{ recent_post.title }} </a>
					<small style="padding-left:10px;">
					{{ recent_post.publish_date|timesince }} {% trans "ago" %}
					</small>
				</h4>
				<div class="recent-summary">
					{{ recent_post.description|safe }}
				</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %} 
