{% load navigation_tags static wagtailuserbar %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

<body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
{% wagtailuserbar %}

{% block header %}
   {% include "includes/nav_menu.html" %}
{% endblock header %}

{% block head-extra %}
{% endblock head-extra %}

{% block messages %}
    {% include "includes/messages.html" %}
{% endblock messages %}
<hr>
<content role="main">
    {% block content %}
    {% endblock content %}
    {% for img_child_page in page_children %}
      <div class="row">
         <div class="col-sm-12" style="background-color: black">
            <a href="{{ img_child_page.url }}" class="btn btn-block">
               {{ img_child_page.title }}
            </a>
         </div>
      </div>
    {% endfor %}
</content>
{#% block breadcrumbs %#}
{# breadcrumbs is defined in base/templatetags/navigation_tags.py #}
{#% breadcrumbs %#}
{#% endblock breadcrumbs %#}
    <hr>
    <!-- Footer -->
    <footer>
        {% include "includes/footer.html" %}
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
