body { background-image: url("curtains.jpg"); 
		 background-position: center;
		 background-attachment: fixed;
		 background-size: cover;
		 color:white }
a { color: lightgreen; }
.title { text-align:center; 
		   font-family:monospace; 
		   font-size:40px; }
footer { background-color: black; }
.panel { background-color: black; }
.tree .active > a { background:blue; }
.backdropped {
  background-color: darkblue; 
}
.blogcontent {
  background-color: darkblue; 
  margin: 50px;
}
.welcome-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
  padding: 30px;
  border-top: double;
  border-width: 10px;
  border-color: gold;
}
.page-container {
  display: grid;
  grid-template-columns: 80%
  grid-gap: 20px;
  border-top: double;
  border-width: 10px;
  border-color: silver;
  padding: 20px;
  margin: 25px;
}
img {
	height: 100%;
	width:  100%;
   object-fit: contain; 
}
